

<html xmlns:th="http//www.thymeleaf.org">

<head>
    <title>Welcome</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />\
    <link href="/css/custom.css"
          rel="stylesheet">
</head>
<body>
<div class="container">
    <table class="table table-striped">
        <caption>Your todos are</caption>
        <thead>
        <tr>
            <th>Description</th>
            <th>Target Date</th>
            <th>Is it Done?</th>
            <th>Edit</th>
            <th>Delete</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>Todo 1</td>
            <td>10/12/2017</td>
            <td>No</td>
            <td><a class="btn btn-warning" href="/edit-todo">Edit Todo</a></td>
            <td id = 'reportbtn'><a class="btn btn-warning">Delete Todo</a></td>
        </tr>
        </tbody>
    </table>
    <p id="demo"></p>
    <div>
        <a class="btn btn-default" href="/add-todo">Add a Todo</a>

    </div>
    <script src="/script/custom.js"></script>
</div>
</body>
</html>